.select{
    position: relative;
    display: flex;
    width: 250px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #B4E2DA;
    overflow: hidden;

    &::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        background-color: #B4E2DA;
        color: #2b2b2b;
        transition: .25s all ease;
        pointer-events: none;
        }
    &:hover::after {
        color: #319684;
    }  

    select {
        /* Reset Select */
        appearance: none;
        outline: 0;
        border: 0;
        box-shadow: none;
        /* Personalize */
        flex: 1;
        padding: 0 1em;
        color: #2b2b2b;
        background-color: #fff;
        background-image: none;
        cursor: pointer;

        &::-ms-expand {
                display: none;
        }
    }
}