.inf_order_btn{
    cursor: pointer;
    background: #D2C22C;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 15px;
    border: 2px solid #D2C22C;
    transition: all .5s;

    &:hover{
        border: 2px solid #ffeb37;
    }
}