.material-card{
    width: 270px;
    
    .material-card__img{
        width: 270px;
        height: 270px;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .material-card__name{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
    }
    .material-card__cost{
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
    }
}